.contactus {
  display: flex;
  height: 142px;
  padding: 0px 195px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--light-gray-1, #FAFAFA);
}

.contactus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.text-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-box h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 25px;
  color: #000000;
}

.text-box p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.buton {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buton a {
  width: 200px;
  height: 50px;
  background: #23a6f0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.2px;
}

@media (max-width: 768px) {
  .contactus {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px 10px;
  }

  .text-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
  }

  .text-box h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
  }

  .text-box p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }

  .buton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }

  .buton a {
    width: 200px;
    height: 50px;
    background: #23a6f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.2px;
  }
}


/* ? */
