<div class="ng-container">
  <mat-card *ngFor="let assurance of assurances">
    <mat-card-header>
      <mat-card-title>{{ assurance.name }}</mat-card-title>
      <mat-card-subtitle>Type : {{ assurance.type }}</mat-card-subtitle>
      <mat-card-subtitle>State : {{ assurance.state }}</mat-card-subtitle>
      <mat-card-subtitle>Begin :{{ assurance.begin | date: 'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
      <mat-card-subtitle> End : {{ assurance.end | date: 'dd/MM/yyyy HH:mm:ss'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ assurance.description }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
