<app-nav-bar></app-nav-bar>
<form (ngSubmit)="submitForm()">
  <div>
    <label for="name">Nom:</label>
    <input type="text" id="name" name="name" required [(ngModel)]="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="email">
  </div>
  <div>
    <label for="phone">Numéro de téléphone:</label>
    <input type="tel" id="phone" name="phone" required [(ngModel)]="phone">
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea id="message" name="message" required [(ngModel)]="content"></textarea>
  </div>
  <button type="submit">Envoyer</button> <br>
  <span *ngIf="showerr">{{ errMessage }}</span>
</form>
<style>

form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 50%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
</style>
