<div class="contactadmin">
  <div class="contactadmin__container">
    <div class="contactadmin__container__form">
      <form [formGroup]="contactForm" (ngSubmit)="contact()">
        <div class="contactadmin__container__form__input">
          <div class="formgroup">
            <label for="">Phone number</label>
            <input type="tel" placeholder="phone Number" formControlName="phone" />
            <span class="err"
              *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.errors?.['required']">Phone Number
              is required</span>
          </div>
        </div>
        <div class="contactadmin__container__form__input">
          <div class="formgroup">
            <label for="">Email</label>
            <input type="email" placeholder="Email" formControlName="email" />
            <span class="err"
              *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.['required']">Email
              is
              required</span>
          </div>
        </div>
        <div class="contactadmin__container__form__input">
          <div class="formgroup">
            <label for="">Message </label>
            <textarea placeholder="message" formControlName="content"></textarea>
          </div>
        </div>

        <div class="contactadmin__container__form__button">
          <button type="submit">Send</button>
          <span *ngIf="showerr">Erreur de connexion au serveur</span>
        </div>
      </form>
    </div>
  </div>
</div>
