<div class="testimony">
  <div class="title">
    <h2>Testimony</h2>
  </div>
  <div class="subtitle">
    <p>What our customers say about us</p>
  </div>

  <div class="card-box">
    <div class="card">
      <div class="card-img">
        <img src="assets/images/user1.png" alt="">
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="assets/images/user2.jpg" alt="">
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="assets/images/user3.jpg" alt="">
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
      </div>
    </div>
  </div>
</div>
