<div *ngIf="show">
  <!-- afficher les information de l'utilisateur -->
  <div class="user-info-container">
    <p>Nom: {{ user?.name }}</p>
    <p>Email: {{ user?.email  }}</p>
    <p>Téléphone: {{ user?.phone }}</p>
  </div>

  <br>
  <button mat-raised-button color="primary" (click)="openUpdateuser(user)">Update User</button>

  <div class="container">
    <div class="button">
      <button mat-raised-button color="primary" (click)="openDialog()">Add assurance</button>
    </div>
  </div>
  <div class="container">
    <div class="button">
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="begin">
        <th mat-header-cell *matHeaderCellDef>begin </th>
        <td mat-cell *matCellDef="let element"> {{element.begin | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef> end </th>
        <td mat-cell *matCellDef="let element">{{ element.end | date: 'dd/MM/yyyy HH:mm:ss' }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element" mat-button color="primary">
          {{ element.state }}
        </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="editer">
        <th mat-header-cell *matHeaderCellDef> Editer </th>
        <td mat-cell *matCellDef="let element" mat-button color="primary">
          <button mat-raised-button color="primary" color="" (click)="updateassurance(element)">Editer
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of Assurance">
    </mat-paginator>
  </div>
  <style>
    .container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }

    .button {
      margin-right: 10px;
    }
  </style>

</div>
