* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 'popins';
  /* Note: Please replace 'popins' with the appropriate value */
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #222327;
  --main-color: #23A6F0;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #222327;
  padding: 28px 12%;
  transform: all 0.50s ease;
}

header>div {
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.navbar {
  display: flex;
}

.navbar a {
  color: white;
  font-size: 1.1em;
  padding: 5px;
  margin: 0 10px;
  transition: all 0.50s ease;
}

li {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  transition: all 0.50s ease;
  font-size: 1.1em;
  font-weight: 700;
}

a {
  display: block;
  width: auto;
  text-align: center;
}

.navbar a:hover {
  color: #23A6F0;
  text-decoration: underline 3px #23A6F0;
}

.active {
  display: block;
  color: #23A6F0;
  background: #23A6F0;
  margin: 15px;
  padding: 15px;
  text-decoration: underline 2.5px;
  border-radius: 7px;
  width: auto;
}

.register {
  background-color: #23A6F0;
  height: 40px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-family: 'Montserrat';
  color: aliceblue;
}

.login {
  border-radius: 12px;
  font-weight: 700;
  color: aliceblue;
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin: 10px;
  padding: 5px;
  color: white;
  transition: all 0.50s ease;
}

.user {
  display: flex;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  z-index: 1001;
  display: none;
}

@media (max-width: 1080px) {
  header>a{
    display: block;
  }
  header {
    padding: 14px 2%;
    transition: 0.2s;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0 20px;
  }

  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
  }
}

@media (max-width: 1090px) {
  .logo {
    display: flex;
    align-items: center;
    color: white;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
  }

  .menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    color: white;
    right: 15px;
    width: 270px;
    height: fit-content;
    background: #23A6F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.50s ease;
    margin-left: 700px;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all 0.50s ease;
  }

  .navbar a:hover {
    color: white;
    transform: translateY(5px);
  }

  .navbar a.active {
    color: white;
  }

  .open {
    right: -100%;
  }

  .active {
    color: white;
    text-decoration: underline;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header>a{
    display: block;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header>a{
    display: block;
  }
  .logo{
    display: block;
  }
}

.activable {
  display: none;
  visibility: hidden;
}
